<div class="grid">
    <div class="dashboard-banking">
        <div class="p-col-12">
            <div class="titre" style="height: 50px;"> </div>
            <div class="card">
                <div class="d-flex justify-content-between mb-2">
                    <button routerLink="ajouterCollaborateur" pButton pRipple type="button" label="Ajouter" icon="pi pi-plus"
                            class="p-button-raised p-mr-2 p-mb-2" style="margin-right:50px"></button>
                    <button pButton pRipple type="button" label="upload" icon="pi pi-upload"
                            class="p-button-raised p-button-help p-ml-2"></button>
                </div>
                <p-table >
                    <ng-template pTemplate="header">
                        <tr >
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="name">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Prenom
                                </div>
                            </th>
                            <th pSortableColumn="country.name">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Nom
                                    </div>
                            </th>
                            <th pSortableColumn="representative.name" style="width:250px;">
                                <div class="p-col p-d-flex p-jc-between p-ai-center">
                                    Email
                                    </div>
                            </th>
                            <th pSortableColumn="date">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Derniere connexion
                                     </div>
                            </th>
                            <th pSortableColumn="balance">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Actif
                                    </div>
                            </th>
                            <th pSortableColumn="status">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Options

                                </div>
                            </th>

                            <th style="width: 8rem"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <ng-container *ngIf="collaborateurs && collaborateurs.length > 0; else aucunCollaborateur">
                        <tr *ngFor="let collaborateur of collaborateurs">
                            <td></td>
                            <td>{{ collaborateur.firstName }}</td>
                            <td>{{ collaborateur.lastName }}</td>
                            <td>{{collaborateur.email}}</td>
                            <td>{{collaborateur.lastLogin}}</td>
                            <td>
                                <ng-container *ngIf="collaborateur.active; else inactiveIcon">
                                    <div class="">
                                    <i class="active-icon "><button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-text p-mr-2 p-mb-2 p-button-success"></button>
                                    </i>
                                    </div>
                                </ng-container>
                                <ng-template #inactiveIcon>
                                    <i class="inactive-icon"><button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text p-mr-2 p-mb-2"></button></i>
                                </ng-template>
                            </td>
                            <td>
                                <div >

                                    <p-dialog header="Modifier un collaborateur" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '70vw'}" [breakpoints]="{'960px': '75vw'}">
                                        <div class="modal-container">

                                            <form   #form="ngForm">
                                                <div class="card p-fluid ">
                                                    <div class="form-check d-flex  mb-4">
                                                        <input
                                                            class="form-check-input me-2"
                                                            type="checkbox"
                                                            value=""
                                                            id="quth"
                                                            aria-describedby="registerCheckHelpText"
                                                        />
                                                        <label class="form-check-label" for="registerCheck">
                                                            Autoriser l'authentification à deux etapes
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex  mb-4">
                                                        <input class="form-check-input me-2"  type="checkbox"  value="" id="perso"  aria-describedby="registerCheckHelpText" [(ngModel)]="collaborateur.is_not_staff" name="notstaff"/>
                                                        <label class="form-check-label" for="registerCheck">
                                                            Ce n'est pas un membre de personnel
                                                        </label>
                                                    </div>

                                                    <div class="field">
                                                        <label class="form-label required-field"  htmlFor="name1">Prenom</label>
                                                        <input pInputText id="name1" type="text" class="form-control" [(ngModel)]="collaborateur.firstName" required="required" name="firstName" />
                                                    </div>
                                                    <div class="field">
                                                        <label class="form-label required-field" htmlFor="lastname">Nom</label>
                                                        <input pInputText id="lastname" type="text"  class="form-control" [(ngModel)]="collaborateur.lastName" name="lastName" required />
                                                    </div>

                                                    <div class="field">
                                                        <label htmlFor="email1" class="form-label required-field">Email</label>
                                                        <input pInputText id="email1" type="text" class="form-control" [(ngModel)]="collaborateur.email" name="email" required />
                                                    </div>


                                                    <div class="field">
                                                        <label htmlFor="tel" class="form-label ">Telephone</label>
                                                        <input pInputText id="tel" type="text" class="form-control" [(ngModel)]="collaborateur.phoneNumber" name="phoneNumber" />
                                                    </div>
                                                    <div class="form-outline field">
                                                        <label htmlFor="signature" class="form-label ">Signature Email</label>
                                                        <input pInputText id="signature" type="text" class="form-control" [(ngModel)]="collaborateur.emailSignature" name="emailSignature" />
                                                    </div>

                                                    <div class="form-check d-flex  mb-4">
                                                        <input
                                                            class="form-check-input me-2"
                                                            type="checkbox"
                                                            value=""
                                                            id="admin"
                                                            aria-describedby="registerCheckHelpText"
                                                            [(ngModel)]="collaborateur.admin"
                                                            name="admin"
                                                        />
                                                        <label class="form-check-label" for="registerCheck">
                                                            Definir comme administrateur
                                                        </label>
                                                    </div>
                                                    <div class="form-check d-flex  mb-4">
                                                        <input
                                                            class="form-check-input me-2"
                                                            type="checkbox"
                                                            value=""
                                                            id="registerCheck"
                                                            checked
                                                            aria-describedby="registerCheckHelpText"
                                                        />
                                                        <label class="form-check-label" for="registerCheck">
                                                            Envoyer un email de bienvenue
                                                        </label>
                                                    </div>


                                                    <div class="field">
                                                        <label htmlFor="Password" class="form-label required-field">Password</label>
                                                        <input pInputText id="Password" type="password" class="form-control"  required [(ngModel)]="collaborateur.password" name="password"/>
                                                    </div>





                                                </div>







                                                <!--   <div class="form-outline mb-4">
                                                       <label class="form-label" for="profileImage">Image Profile</label>
                                                       <input type="file"  id="profileImage" (change)="onFileSelected($event)" [(ngModel)]="collaborateur.profile_image" name="profileImage" >

                                                   </div>-->


                                                <!-- Name input -->


                                                <!-- Username input -->

                                                <!-- Email input -->


                                                <!-- Password input -->


                                                <!-- Repeat Password input -->


                                                <!-- Checkbox -->



                                                <!-- Submit button -->
                                            </form>

                                        </div>

                                        <ng-template pTemplate="footer">
                                            <button pButton pRipple icon="pi pi-check" (click)="display=false" label="Enregitrer" [disabled]="!form.valid" class="p-button-outlined"></button>


                                        </ng-template>
                                    </p-dialog>
                                    <div class="grid">
                                        <div class="col-12">
                                            <button (click)="display=true" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success p-button-text p-mr-2 p-mb-2"></button>
                                        </div>
                                    </div>
                                </div>
                                <button  pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text p-mr-2 p-mb-2" (click)="DeleteColl(collaborateur.staffId)"></button>

                            </td>

                        </tr>
                        </ng-container>
                        <ng-template #aucunCollaborateur>
                            <tr>
                                <td colspan="3">aucun collaborateur</td>
                            </tr>
                        </ng-template>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>


</div>

