<div class="grid">
    <div class="dashboard-banking">
        <div class="p-col-12">
            <div class="titre" style="height: 50px;"> </div>
            <div class="card">
                <div class="d-flex justify-content-between mb-2">
                    <button routerLink="ajouterCollaborateur" pButton pRipple type="button" label="Ajouter" icon="pi pi-plus"
                            class="p-button-raised p-mr-2 p-mb-2"></button>
                    <button pButton pRipple type="button" label="upload" icon="pi pi-upload"
                            class="p-button-raised p-button-help"></button>
                </div>
                <p-table >
                    <ng-template pTemplate="header">
                        <tr >
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="name">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Prenom
                                </div>
                            </th>
                            <th pSortableColumn="country.name">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Nom
                                    </div>
                            </th>
                            <th pSortableColumn="representative.name" style="width:250px;">
                                <div class="p-col p-d-flex p-jc-between p-ai-center">
                                    Email
                                    </div>
                            </th>
                            <th pSortableColumn="date">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Derniere connexion
                                     </div>
                            </th>
                            <th pSortableColumn="balance">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Actif
                                    </div>
                            </th>
                            <th pSortableColumn="status">
                                <div class="p-d-flex p-jc-between p-ai-center">
                                    Options

                                </div>
                            </th>

                            <th style="width: 8rem"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <ng-container *ngIf="collaborateurs && collaborateurs.length > 0; else aucunCollaborateur">
                        <tr *ngFor="let collaborateur of collaborateurs">
                            <td></td>
                            <td>{{ collaborateur.firstName }}</td>
                            <td>{{ collaborateur.lastName }}</td>
                            <td>{{collaborateur.email}}</td>
                            <td>{{collaborateur.lastLogin}}</td>
                            <td>
                                <ng-container *ngIf="collaborateur.active; else inactiveIcon">
                                    <div class="">
                                    <i class="active-icon "><button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-text p-mr-2 p-mb-2 p-button-success"></button>
                                    </i>
                                    </div>
                                </ng-container>
                                <ng-template #inactiveIcon>
                                    <i class="inactive-icon"><button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text p-mr-2 p-mb-2"></button></i>
                                </ng-template>
                            </td>
                            <td>
                                <button  pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success p-button-text p-mr-2 p-mb-2" (click)="openModal()"></button>
                                 <button  pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text p-mr-2 p-mb-2" (click)="DeleteColl(collaborateur.staffId)"></button>

                            </td>

                        </tr>

                        </ng-container>
                        <ng-template #aucunCollaborateur>
                            <tr>
                                <td colspan="3">aucun collaborateur</td>
                            </tr>
                        </ng-template>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <div class="modal-overlay" [class.active]="modalOpen">
        <div class="modal-container">
            <div class="modal-header">
                <h4 class="modal-title">modifier  un collaborateur</h4>
                <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text p-mr-2 p-mb-2" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <div class="form-check d-flex  mb-4">
                    <input
                        class="form-check-input me-2"
                        type="checkbox"
                        value=""
                        id="registerCheck"
                        checked
                        aria-describedby="registerCxheckHelpText"
                    />
                    <label class="form-check-label" for="registerCheck">
                        Autoriser l'authentification à deux etapes
                    </label>
                </div>
                <div class="form-check d-flex  mb-4">
                    <input class="form-check-input me-2"  type="checkbox"  value="" id="perso" checked aria-describedby="registerCheckHelpText"/>
                    <label class="form-check-label" >
                        Ce n'est pas un membre de personnel
                    </label>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label required-field" for="firstname">Prenom </label>
                    <input type="text" id="firstname" class="form-control"  required="required" name="firstName" >
                </div>
                <div class="form-outline mb-2">
                    <label class="form-label required-field" for="name">nom </label>
                    <input type="text" id="name" class="form-control"  required="required" name="firstName">
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label required-field" for="registerEmail">Email </label>
                    <input type="email" id="registerEmail" class="form-control" name="email" required />

                </div>

                <div class="form-outline mb-4">
                    <label class="form-label " for="tel">Telephone</label>
                    <input type="number" id="tel" class="form-control"  name="phoneNumber" />
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label " for="registerRepeatPassword">Signature Email </label>
                    <input type="text" id="registerRepeatPassword" class="form-control" name="emailSignature" />

                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex  mb-4">
                    <input
                        class="form-check-input me-2"
                        type="checkbox"
                        value=""
                        id="admin"
                        checked
                        aria-describedby="registerCheckHelpText"
                    />
                    <label class="form-check-label" >
                        Definir comme administrateur
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" >Ajouter</button>

            </div>
        </div>
    </div>
    <style>
        .modal-overlay {
            display: none;
            position: fixed;
            top: -50px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }

        .modal-container {
            position: relative;
            background-color: #fff;
            max-width: 1000px;
            margin: 100px auto;
            padding: 20px;
            border-radius: 5px;
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .modal-title {
            margin: 0;
        }

        .modal-body {
            padding: 20px 0;
        }

        .modal-footer {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-top: 10px;
            border-top: 1px solid #ccc;
            margin-top: 20px;
        }

        .open-modal-btn {
            margin-bottom: 10px;
        }

        .modal-overlay.active {
            display: block;
        }
    </style>

</div>

