<div class="d-flex justify-content-center" >
    <div class="col-md-10 p-3">
        <div class="card shadow">
            <div   class="tab-pane fade show active" >
                <form [formGroup] ="roleajoutFormGroup" (ngSubmit) ="addRole()">

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label required-field" for="Role">Role </label>
                        <input type="text" id="Role" formControlName="roleName" class="form-control" required="required" />
                    </div>
                    <!-- Password input -->


                    <!-- 2 column grid layout -->
                    <div class="row mb-4">
                        <table class="table">
                            <thead class="table-header">
                            <tr>
                                <th>Permission</th>
                                <th>Affichage</th>
                                <th>Créer</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr>
                            </thead>
                            <tr *ngFor="let permission of permissions,let i">
                                <td class="line-right">{{ permission.name }}</td>
                                <td class="text-center"><input type="checkbox" formControlName="{{ i }}.canView" class="form-check-input"></td>
                                <td class="text-center"><input type="checkbox" formControlName="{{ i }}.canCreate" class="form-check-input"></td>
                                <td class="text-center"><input type="checkbox" formControlName="{{ i }}.canEdit" class="form-check-input"></td>
                                <td class="text-center"><input type="checkbox" formControlName="{{ i }}.canDelete" class="form-check-input"></td>
                            </tr>
                            <!-- <tbody>
                             <tr>
                                 <td class="line-right" >Paramètres</td>
                                 <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                                 <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                                 <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                                 <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                             </tr>
                             <tr>
                                 <td>Collaborateurs</td>
                                 <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                                 <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                                 <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                                 <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                             </tr>
                             <tr>
                                 <td >Rôle collaborateurs</td>
                                 <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                                 <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                                 <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                                 <td class="text-center"><input type="checkbox" class="form-check-input"></td>
                             </tr>-->

                        </table>



                    </div>

                    <!-- Submit button -->
                    <button [disabled]="!roleajoutFormGroup.valid" type="submit" class="btn btn-primary btn-block mb-4">Enregistrer</button>
                </form>
            </div>

        </div>
    </div>
</div>
