<div class="dashboard p-grid">


    <div class="p-col-12">
        <div class="titre" style="height: 50px;"> </div>
        <div class="card">
            <button routerLink="ajouterRole" pButton pRipple type="button" label="Ajouter" icon="pi pi-plus" class="p-button-raised p-mr-2 p-mb-2"></button>
            <button pButton pRipple type="button" label="upload" icon="pi pi-upload" class="p-button-raised p-button-help" style="float: right;"></button>

            <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
                     styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
                     [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        Role
                        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                           placeholder="Global Search"/>
                </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th style="width:50%">
                            <div class="p-d-flex p-jc-between p-ai-center" style="font-size: larger">
                                Nom


                            </div>
                        </th>
                        <th style="width: 50%">
                            <div class="p-d-flex p-jc-end p-ai-center p-flex-row-reverse">
                                Option


                            </div>
                        </th>
                    </tr>

                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No customers found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
