<div><p-table >
    <ng-template pTemplate="header">
        <h2>Tarifs</h2>
        <tr >

            <th pSortableColumn="name">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Service
                </div>
            </th>
            <th pSortableColumn="country.name">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Nom
                </div>
            </th>
            <th pSortableColumn="representative.name" style="width:250px;">
                <div class="p-col p-d-flex p-jc-between p-ai-center">
                    Informations supplémentaires
                </div>
            </th>

            <th pSortableColumn="status">
                <div class="p-d-flex p-jc-between p-ai-center">

                </div>
            </th>

            <th style="width: 8rem"></th>
        </tr>
    </ng-template>

</p-table></div>

